@media screen and (max-width: 600px) {
  .container {
    width: 320px;
  }
}

body {
  font-size: 32px;
  line-height: 1.5;
  font-family: "Crafty Girls", cursive;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
  margin-top: 30px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 6px;
  font-size: 24px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: beige;
}

.is-hidden {
  display: none;
}
.icon {
  position: absolute;
  left: 12%;
  top: 20%;
  fill: green;

  animation-name: rootage;
  animation-duration: 2s; /* збільшено на 1 секунду */
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes rootage {
  0% {
    transform: rotate(0deg); /* виправлено */
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg); /* виправлено */
  }
}
